name: Build, Publish, and Archive

on:
  push:
    branches: [ master ]

jobs:
  build_and_publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v5
      with:
        java-version: 11
        distribution: 'corretto'

    - name: Setup Gradle to generate and submit dependency graphs
      uses: gradle/gradle-build-action@v3
      with:
        dependency-graph: generate-and-submit

    - name: Build and Publish
      env:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
        ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.SIGNING_KEY_ID }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
      run: ./gradlew build publish

    - name: Archive libs
      uses: actions/upload-artifact@v5
      with:
        name: libs
        path: build/libs
    - name: Archive docs
      uses: actions/upload-artifact@v5
      with:
        name: docs
        path: build/docs/javadoc
